
<div>
  <h1>Welcome <%=@user.first_name%>!</h1>
  <p>Current city: <%=@user.current_city%></p>
  <p>Account created: <%=@user.created_at%></p>

<%=link_to "Edit Profile", edit_user_path%>

</div>

<div>
  <h2>All My Posts:</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My London Review</h5>
        <p class="card-text">sjsfhfhs</p>
        <a href="#" class="btn btn-primary">Read About My Time in [city_name]</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My New York Review</h5>
        <p class="card-text">This should be an image tag of the corresponding city.</p>
        <a href="#" class="btn btn-primary">Read About My Time in [city_name]</a>
      </div>
    </div>
  </div>
</div>




</div>
