
<div>
  <h1>Welcome <%=@user.first_name%>!</h1>
  <p>Current city: <%=@user.current_city%></p>
  <p>Account created: <%=@user.created_at%></p>

<%=link_to "Edit Profile", edit_user_path%>

</div>

<div>
  <h2>All My Posts:</h2>
  <ul>

  </ul>
</div>
