<h2 class="edit_heading">Edit Your Post</h2>

<div class="container-fluid">
<%= form_for ([@user, @post]) do |f|%>
	<div class="edit_field">
	  <%= f.text_field :review_title %>
	</div>
	<div class="edit_field">
	  <%= f.text_area :review%>
	</div>
<%= f.submit "Submit", class:"btn btn-primary" %>
<% end %>
</div>
