<p>Find me in app/views/posts/edit.html.erb</p>

<%= form_for ([@user, @post]) do |f|%>
	<div>
	  <%= f.text_field :review_title %>
	</div>
	<div>
	  <%= f.text_field :review%>
	</div>
<%= f.submit "Submit Your Post" %>
<% end %>
