
<body id=post_show>
<%@posts.each do |post|%>
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h2 class="card-title"><%= post.review_title %></h2>
	        <p class="card-text"><%= post.review %></p>
	        <p><%=post.user_id%></p>
	        <a href="#" class="btn btn-primary">See More</a>
	      </div>
	    </div>
	  </div>
	<%end%>
</body>
