<div class="city">

<h1>Cities#index</h1>
<div>
<%@cities.each do |city|%>
  <%= city.city_name %>
  <img src="<%= city.photo %>">
  <%=link_to "See More", city_path(city.id)%>
</br>
<%end%>
</div>

</div>