<h1>Cities#new</h1>

<h1>Add a New City to Review</h1>

<%= form_for @city do |f| %>
  <div>
    <%= f.text_field :city_name, placeholder: "City Name" %>
  </div>
  <div>
    <%= f.text_field :photo, placeholder: "photo" %>
  </div>
  <%= f.submit "Save this city" %>
<% end %>
