/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
.btn{
  width: 80px;
  margin-top: 5px;
  padding: 5px;
}
.btn.create{
  width: 150px;
}
.btn-secondary{
  width: 100px;
}
.card .users {
  display: inline-flex;
}

.navbar{
	background-color: #fff;
}
#nav_links{
  margin:2px;
}
nav a {
	color: black;
	font-size: 20px;
  margin: 5px;
}
nav img {
	margin-right: 15px;
}
.carousel-inner{
	height: 780px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black,  0 -1px black;
}
img .d-block{
	position: absolute;
	height: 100%;
}
.carousel-item{
	transition: .1s ease-in-out left;
}


.user-posts{
	justify-content: center;
}
.all_posts{
	text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.city img{
	width:700px;
	height: 400px;
}
#city_list{
	margin-left: 25%;
	margin-right: 25%;
}

.main_city_photo{
	width:100%;
}
.btns{
	text-align: center;
}

.show_city_title{
	text-align: center;
}

.city_posts{
	text-align: center;

}

.edit_field input{
  width:100%;
  border: 1px black solid;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 2em;
}

.edit_field textarea{
  width:100%;
  border: 1px black solid;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  height: 300px;
  font-size: 1.5em;
}

.edit_heading{
  margin-left: 15px;
}

.date_joined{
  margin-top: 10px;
}
